a {
    text-decoration: none;
}
/* for mobile view */
@media (max-width: 543px) {


#products {
    margin: 10px 0px;
    padding: 0px;
    text-decoration: none;
    max-width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}

#products .productsCard {
    margin: 20px auto;
    padding: 0px;
    text-decoration: none;

    max-width: 120px;
    height: 260px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px rgba(211, 210, 212, 0.582);
}

.productsCard img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 140px;

    object-fit: cover;
    object-position: center;

    border-radius: 1px;
}

.productsCard .detail {
    margin: 0px;
    padding: 5px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
}

.detail .pname{
    margin: 0px;
    padding: 0px;
    height: 40px;
    font-size: 13px;
    /* font-weight: lighter; */
    font-family: 'segoe UI';
    word-wrap: break-word; 
    color: rgba(0, 0, 0, 0.959);
    overflow: hidden;  
}
.detail span{
    margin: 0px;
    padding: 0px;
  
    font-size: 11px;
    font-weight: lighter;
    font-family: sans-serif;
 
    color: rgba(0, 0, 0, 0.818);
 
}
.detail .pprice {
    margin:12px 0px 0px;
    padding: 0px;

    max-height: 30px;
    font-size: 14px;
    font-weight: lighter;
    font-family: sans-serif;
    align-items: center;
    word-wrap: break-word;
    text-overflow: clip;
    color: rgba(2, 5, 108, 0.989);
}

.detail p span{
    margin: 0px;
    padding: 1px;
  
    font-size: 15px;
    /* font-weight: lighter; */
    font-family: sans-serif;
 
    color: rgba(52, 163, 8, 0.992);
 
}
 
.productsCard button{

    margin: 0px;
    padding: 7px;
    max-width: 100%;
    height: auto;

   
    font-size: 13px;
    font-weight: lighter;
    font-family: sans-serif;
     color: white;
outline: none;
border: solid 0px gray;
border-radius: 2px;

    background-color: rgb(246, 7, 7);
}


}


/* for tablet view */
@media (min-width: 543px) {  

    #products {
        margin: 10px 0px;
        padding: auto;
        text-decoration: none;
        max-width: 100%;
        height: auto; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    #products .productsCard {
        margin: 20px auto ;
        padding: 0px;
        text-decoration: none;
    
        max-width: 160px;
        height: 270px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        background-color: white;
        border-radius: 2px;
        box-shadow: 1px 1px 2px 1px rgba(211, 210, 212, 0.582);
    }
    
    .productsCard img {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 150px; 
        object-fit: cover;
        object-position: center;
        border-radius: 1px;
    }
    .productsCard .detail {
        margin: 0px;
        padding: 5px;
        max-height: 100px;
        display: flex;
        flex-direction: column;
    }
    
    .detail .pname{
        margin: 0px;
        padding: 0px;
        height: 40px;
        font-size: 12px;
        font-family: 'segoe UI';
        word-wrap: break-word; 
        color: rgba(0, 0, 0, 0.959);
        overflow: hidden;  
    }
    .detail span{
        margin: 0px;
        padding: 0px;
      
        font-size: 11px;
        font-weight: lighter;
        font-family: sans-serif;
     
        color: rgba(0, 0, 0, 0.818);
     
    }
    .detail .pprice {
        margin:12px 0px 0px;
        padding: 0px;
    
        max-height: 30px;
        font-size: 14px;
        font-weight: lighter;
        font-family: sans-serif;
        align-items: center;
        word-wrap: break-word;
        text-overflow: clip;
        color: rgba(2, 5, 108, 0.989);
    }
    
    
    .detail p span{
        margin: 0px;
        padding: 1px;
      
        font-size: 15px;
        /* font-weight: lighter; */
        font-family: sans-serif;
     
        color: rgba(52, 163, 8, 0.992);
     
    }
    .productsCard button{
    
    margin: 0px;
    padding: 7px;
    max-width: 100%;
    height: auto;
    
       
    font-size: 13px;
     
    font-family: 'Segoe UI';
    /* font-weight: lighter; */
    color: white;
    outline: none;
    border: solid 0px gray;
    border-radius: 2px;
    
        background-color: rgb(246, 7, 7);
    }


 

  }


/* Desktop styling */
@media (min-width: 1020px){


    #products {
        margin: 10px 0px;
        padding: 0px;
        text-decoration: none;
        max-width: 100%;
        height: auto; 
        display: flex;
        flex-wrap: wrap;
        
    }
    
    #products .productsCard {
        margin: 20px auto 10px ;
        padding: 0px;
        text-decoration: none;
    
        max-width: 170px;
        height: 270px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        background-color: white;
        border-radius: 2px;
        box-shadow: 1px 1px 2px 1px rgba(211, 210, 212, 0.582);
    }
    
    .productsCard img {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 150px; 
        object-fit: cover;
        object-position: center;
        border-radius: 1px;
    }
    .productsCard .detail {
        margin: 0px;
        padding: 5px;
        max-height: 100px;
        display: flex;
        flex-direction: column;
    }
    
    .detail .pname{
        margin: 0px;
        padding: 0px;
        height: 40px;
        font-size: 13px;
      
        font-family: 'segoe UI';
        word-wrap: break-word; 
        color: rgba(0, 0, 0, 0.959);
        overflow: hidden;  
    }
    .detail span{
        margin: 0px;
        padding: 0px;
      
        font-size: 11px;
        font-weight: lighter;
        font-family: sans-serif;
     
        color: rgba(0, 0, 0, 0.818);
     
    }
    .detail .pprice {
        margin:12px 0px 0px;
        padding: 0px;
    
        max-height: 30px;
        font-size: 14px;
        font-weight: lighter;
        font-family: sans-serif;
        align-items: center;
        word-wrap: break-word;
        text-overflow: clip;
        color: rgba(2, 5, 108, 0.989);
    }
    
    
    .detail p span{
        margin: 0px;
        padding: 1px;
      
        font-size: 15px;
        /* font-weight: lighter; */
        font-family: sans-serif;
     
        color: rgba(52, 163, 8, 0.992);
     
    }
    .productsCard button{
    
    margin: 0px;
    padding: 7px;
    max-width: 100%;
    height: auto;
    
       
    font-size: 13px;
     
    font-family: 'Segoe UI';
    /* font-weight: lighter; */
    color: white;
    outline: none;
    border: solid 0px gray;
    border-radius: 2px;
    
        background-color: rgb(246, 7, 7);
    }

}